/* Setting the margin and padding to 0. */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1B262C;
    background: content-box radial-gradient(#121C84, #8278DA);
}

/* Styling the header. */
.header {
    font-weight: bold;
    text-align: center;
    color: #0F4C57; 
}

.header h1 {
    font-size: 2.9em;
    margin-bottom: 5px;
}

.header p {
    font-size: 1.1em;
    margin-bottom: 15px;
}

/* Styling the container. */
.container {    
    margin: 1px auto;
    border: 1px solid #3282B8;
    padding: 10px;
    width: 60%;
    color: #BBE1FA;
    font-size: 1em;
}

/* Styling the input element. */
.information input {
    display: block;
    width: 98%;
    text-align: left;
    padding: 0.625em 0.125em;
    background-color: #1B262C;
    color: #BBE1FA;
    border-radius: 2px;
    border: #3282B8 solid 2px;
    margin-bottom: 15px;
}

/* Styling the select element. */
.option-role label, 
.favorite-option label {
    display: block;
    height: 100%;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    margin-top: 10px;
}

.option-role select, 
.favorite-option select {
    display: block;
    width: 100%;
    text-align: left;
    background-color: #1B262C;
    border-radius: 2px;
    border: #3282B8 solid 2px;
    padding: 0.625em 0.125em;
    color: #BBE1FA;
}

/* Styling the paragraph and the radio button. */
.paragraph {
    display: block;
    width: 100%;
    margin: 15px 0;
}

.radio-button label,
.checklist-button label {
    display: block;
    width: 100%;
    padding: 5px 5px;
}

/* Styling the label and textarea. */
.textarea label {
    display: block;
    font-size: large; 
    text-align: center;
    margin: 15px 15px;
}   
 
.textarea textarea {
    display: block; 
    background-color: #1B262C;
    border: #3282B8 solid 2px;
    font-weight: 500;
    width: 100%;
    font-size: 1.1rem;
    color: #BBE1FA;
}

/* Styling the submit button. */
input[type="submit"] {
    display: block;
    width: 50%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #1B262C;
    border-color: #3282B8;
    min-width: 20%;
    color: #BBE1FA;
}

/* Styling the footer. */
#copy {
    font-size: 12px;
    width: 1px auto;
    height: 20px auto;
    background-color: rgba(127, 127, 222, 0.5);
    margin: auto;
}