/* Setting the margin and padding to 0. */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1B262C;
}

/* Styling the header. */
.header {
    font-weight: bold;
    text-align: center;
}

.header h1 {
    font-size: 2.9em;
    margin-bottom: 5px;
    color: #0F4C57; 
}

.header p {
    font-size: 1.1em;
    margin-bottom: 15px;
    color: #0F4C57;
}

/* body */
.container {    
    margin: 1px auto;
    border: 1px solid #3282B8;
    padding: 10px;
    width: 60%;
}

.information input {
    display: block;
    width: 98%;
    text-align: left;
    padding: 0.625em 0.125em;
    background-color: #1B262C;
    color: #BBE1FA;
    border-radius: 2px;
    border: #3282B8 solid 2px;
}

.information {
    text-align: left;
    color: #BBE1FA;
    margin: 5px 5px;
    width: 100%;
}

.option-role label, 
.favorite-option label {
    display: block;
    height: 100%;
    width: 100%;
    text-align: left;
    color: #BBE1FA;
    padding-bottom: 5px 5px;
}

.option-role select, 
.favorite-option select {
    display: block;
    width: 100%;
    text-align: left;
    color: #BBE1FA;
    background-color: #1B262C;
    border-radius: 2px;
    border: #3282B8 solid 2px;
    padding: 0.625em 0.125em;
}

.parragraf {
    display: block;
    width: 100%;
    color: #BBE1FA;
    margin: 5px 5px;
    padding: 5px 5px;
}

.radio-button label {
    display: block;
    width: 100%;
    padding: 5px 5px;
}


.textarea label {
    display: block;
    font-size: large; 
    color: #BBE1FA;
    text-align: center;
}   
 
.textarea textarea {
    display: block; 
    background-color: #1B262C;
    border-radius: #3282B8 solid 2px;
    color: #BBE1FA;
    font-weight: 500;
    width: 100%;
    font-size: 1.1rem;
}

input[type="submit"] {
    display: block;
    width: 50%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #1B262C;
    border-color: #3282B8;
    min-width: 300px;
    color: #BBE1FA;
}

/* Styling the footer. */
#copy {
    font-size: 12px;
    width: 1px auto;
    height: 20px auto;
    background-color: rgba(127, 127, 222, 0.5);
    margin: auto;
}